name: Build kernel (SukiSU, SUSFS, Manual Hooks, KPM Patched and BBG integration)
on:
  #schedule:
    #- cron: '0 4 * * *'  # Runs every day at 04:00 UTC
  workflow_dispatch: # Allow manual trigger if needed
  #push:
    #paths:
      #- '.github/workflows/kernel-build.yml'
      #- 'rezoss_sukisu_susfs.patch'
      #- 'anykernel.zip'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4 

      - name: Set up the toolchain
        run: |
          sudo apt update
          sudo apt install -y \
            bc bison build-essential curl flex \
            g++-multilib gcc-multilib git gnupg \
            lib32readline-dev lib32z1-dev \
            libelf-dev liblz4-tool libssl-dev \
            lzop zlib1g-dev pahole dwarves cpio zip \
            python3 python-is-python3 tar perl lz4 jq

      - name: Clone source
        run: |
          git clone --depth=1 -b android13-5.15 https://github.com/samsung-sm8550/kernel_samsung_sm8550-common.git kernel

          # Determine the current kernel version
          echo "KERNEL_VERSION=$(grep -m1 '^SUBLEVEL =' ./kernel/Makefile | awk '{print $3}')" >> $GITHUB_ENV
          
      - name: Apply the SukiSU-Ultra, SUSFS and Baseband Guard
        run: |
          set -euxo pipefail
          cd kernel
          
          # Integrate the main SukiSU 
          curl -LSs "https://raw.githubusercontent.com/SukiSU-Ultra/SukiSU-Ultra/main/kernel/setup.sh" | bash -s main

          # Determine the tag of the latest release of SukiSU
          echo "SUKISU_VERSION=$(curl -s "https://api.github.com/repos/SukiSU-Ultra/SukiSU-Ultra/tags" \
          | jq -r '.[0].name' | sed 's/^v//' | tr -d '.')" >> $GITHUB_ENV
                    
          # Compute version code = commit count + 10200 (same scheme as KernelSU CI)
          COMMITS="$(git -C "./KernelSU" rev-list --count HEAD || echo 0)"
          SUKISU_VER_CODE=$((40000 + COMMITS - 2815))
          echo "SUKISU_VER_CODE=$SUKISU_VER_CODE" >> "$GITHUB_ENV"              
          
          # Integrate latest SUSFS
          git clone -b gki-android13-5.15 --depth=1 https://gitlab.com/simonpunk/susfs4ksu.git susfs4ksu

          # Determine susfs version
          cd susfs4ksu
          SUSFS_COMMIT=$(git rev-parse --short HEAD)
          SUSFS_VERSION=$(sed -n 's/.*#define[[:space:]]\+SUSFS_VERSION[[:space:]]\+"v\{0,1\}\([0-9.]\+\)".*/\1/p' kernel_patches/include/linux/susfs.h | tr -d '.')
          echo "SUSFS_VERSION=$SUSFS_VERSION" >> "$GITHUB_ENV"
          echo "SUSFS_COMMIT=$SUSFS_COMMIT" >> "$GITHUB_ENV"
          cd ..

          # Begin susfs patching
          cp -rv ./susfs4ksu/kernel_patches/fs/* fs/
          cp -rv ./susfs4ksu/kernel_patches/include/linux/* include/linux/
          patch -p1 --fuzz=3 < "${GITHUB_WORKSPACE}/rezoss_sukisu_susfs.patch"                

          
                    
          # Integrate Sukisu scope_min_manual_hooks_v1.6.patch
          curl -L -o manual-hook.patch https://github.com/SukiSU-Ultra/SukiSU_patch/raw/83aa64b7548890bb1f2eff6c990c03a1802df27b/hooks/scope_min_manual_hooks_v1.6.patch
          patch -p1 --fuzz=3 < manual-hook.patch
          #echo "CONFIG_KSU_KPROBES_HOOK=n" >> ./arch/arm64/configs/gki_defconfig
          #echo "CONFIG_KSU_SUSFS_SUS_SU=n" >> ./arch/arm64/configs/gki_defconfig
          # Sukisu 69_hide.patch
          #curl -L -o 69_hide.patch https://github.com/SukiSU-Ultra/SukiSU_patch/raw/83aa64b7548890bb1f2eff6c990c03a1802df27b/69_hide_stuff.patch
          #patch -p1 --fuzz=3 < 69_hide.patch
          # SukiSU KPM
          echo "CONFIG_KPM=y" >> ./arch/arm64/configs/gki_defconfig
          sed -i '/config KPM/{:a; n; s/^\s*default n/default y/; ta;}' KernelSU/kernel/Kconfig
          
          # Adding BBG support
          wget -O- https://github.com/vc-teahouse/Baseband-guard/raw/main/setup.sh | bash
          echo "CONFIG_BBG=y" >> ./arch/arm64/configs/gki_defconfig
          sed -i 's/\(CONFIG_LSM="[^"]*\)"/\1,baseband_guard"/' ./arch/arm64/configs/gki_defconfig
          sed -i '/^config LSM$/,/^help$/{ /^[[:space:]]*default/ { /baseband_guard/! s/lockdown/lockdown,baseband_guard/ } }' ./security/Kconfig
          

      - name: Set up swap space
        uses: pierotofy/set-swap-space@master
        with:
          swap-size-gb: 16

      - name: Build the kernel
        run: |
          cd kernel
          chmod +x scripts/build.sh
          ./scripts/build.sh 2>&1 | tee "$GITHUB_WORKSPACE/build.log"
      
      - name: KPM Patching
        run: |
          cd kernel/out/arch/arm64/boot/
          curl -LSs "https://raw.githubusercontent.com/ShirkNeko/SukiSU_patch/refs/heads/main/kpm/patch_linux" -o patch
          chmod 777 patch
          ./patch
          rm -rf Image Image.gz
          mv oImage Image
          gzip -k -9 -n Image
          cd ../../../../..    


      - name: Package image with AnyKernel3
        id: package
        run: |
          set -euxo pipefail
          unzip "${GITHUB_WORKSPACE}/anykernel.zip" -d anykernel/
          cp kernel/out/arch/arm64/boot/Image.gz anykernel/
          # Build final name
          ZIP_NAME="common-5.15.${KERNEL_VERSION}-3d64R-sukisu${SUKISU_VERSION}-${SUKISU_VER_CODE}_KPM-susfs${SUSFS_VERSION}-manual-BBG-$(date +%d%m%y-%H%M%S)"
          cd anykernel
          zip -r0 ../"${ZIP_NAME}".zip ./*
          echo "zip_path=$GITHUB_WORKSPACE/${ZIP_NAME}.zip" >> "$GITHUB_OUTPUT"
          echo "zip_name=${ZIP_NAME}" >> "$GITHUB_OUTPUT"
          cd ..

      - name: Upload the flashable kernel
        uses: actions/upload-artifact@v4
        with:
          name: ${{steps.package.outputs.zip_name}}
          path: anykernel/
      
      - name: Create GitHub Release and upload asset
        if: github.event_name != 'pull_request'
        uses: softprops/action-gh-release@v2
        with:
          tag_name: experimental_build-${{ github.run_id }} 
          target_commitish: ${{ github.sha }}
          name: "SukiSU Kernel Build by ${{ github.repository }}"
          generate_release_notes: true
          files: ${{ steps.package.outputs.zip_path }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}   
